<app-spinner></app-spinner>
<div class="section-body" *ngIf="cliente">
    <div class="row mt-sm-4">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card author-box">
          <div class="card-body">
            <div class="author-box-center">
              <figure class="avatar mr-2 avatar-xl" [appIniciales]="[cliente.nombres,cliente.apellidos]"></figure>
              <div class="clearfix"></div>
              <div class="author-box-name mt-2">
                <span>{{cliente.nombres}} {{cliente.apellidos}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Información Crediticio</h4>
          </div>
          <div class="card-body">
            <div>
              <p class="clearfix">
                <span class="float-left">
                  Estatus Crediticio:
                </span>
                <span class="float-right text-muted">
                    {{cliente.estatusCrediticio.estatusCrediticios | estatusCrediticioToString}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-8">
        <div class="card">
          <div class="padding-20">
            <ul class="nav nav-tabs" id="myTab2" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab" aria-selected="true">Información personal básica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#direccion" role="tab" aria-selected="false">Dirección</a>
              </li>
            </ul>
            <div class="tab-content tab-bordered" id="myTab3Content">
              <div class="tab-pane fade active show" id="about" role="tabpanel" aria-labelledby="home-tab2">
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Nombre</strong>
                    <br>
                    <p class="text-muted">{{cliente.nombres}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Apellido</strong>
                    <br>
                    <p class="text-muted">{{cliente.apellidos}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Cédula</strong>
                    <br>
                    <p class="text-muted">{{cliente.cedula}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Telefono</strong>
                    <br>
                    <p class="text-muted">{{cliente.telefono}}</p>
                  </div>
                </div>            
              </div>
              <div class="tab-pane fade" id="direccion" role="tabpanel" aria-labelledby="profile-tab2">
                <div class="row">
                  <div class="col-md-3 col-6 b-r">
                    <strong>Provincia</strong>
                    <br>
                    <p class="text-muted">{{cliente.direccion.provincia}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Sector</strong>
                    <br>
                    <p class="text-muted">{{cliente.direccion.calle}}</p>
                  </div>
                  <div class="col-md-3 col-6 b-r">
                    <strong>Numero casa</strong>
                    <br>
                    <p class="text-muted">{{cliente.direccion.numero}}</p>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>