<app-spinner></app-spinner>
<div class="row" *ngIf="dashboard">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h3 class="font-15">Cantidad de Clientes</h3>
                <h1 class="mb-3 font-18">
                  <span class="badge badge-secondary">{{dashboard.cantidadClientes}}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h3 class="font-15">Cantidad de Prestamos</h3>
                <h1 class="mb-3 font-18">
                  <span class="badge badge-secondary">{{dashboard.cantidadPrestamos}}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h3 class="font-15">Prestamos Pagados</h3>
                <h1 class="mb-3 font-18">
                  <span class="badge badge-secondary">{{dashboard.cantidadPrestamosPagados}}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-statistic-4">
        <div class="align-items-center justify-content-between">
          <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
              <div class="card-content">
                <h3 class="font-15">Cantiad de Prestamos Pendientes</h3>
                <h1 class="mb-3 font-18">
                  <span class="badge badge-danger">{{dashboard.cantidadPrestamosPendientes}}</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>