.invalid-feedback{
    font-weight: 700 !important;
}

.libre{
    background-color: #6777ef !important;
    color: #fff;
    font-weight: 600;
}

.creditosOcupados{
    background-color: #54ca68 !important;
    color: #fff;
    font-weight: 600;
}

.atrasados{
    background-color: #ffa426 !important;
    color: #000;
    font-weight: 600 !important;
}

.prestamosVencidos{
    background-color: #fc544b !important;
    color: #fff;
    font-weight: 600;
}

.pendiente{
    background-color: #54ca68 !important;
    color: #fff;
    font-weight: 600;
}

.pagado{
    background-color: #6777ef !important;
    color: #fff;
    font-weight: 600;
}

.abono{
    background-color: #ffa426 !important;
    color: #000;
    font-weight: 600 !important;
}

.atraso{
    background-color: #fc544b !important;
    color: #fff;
    font-weight: 600;
}
