<app-toastr></app-toastr>
<div class="section-body">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Buscar Cliente</h4>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" mask="000-0000000-0" class="form-control"
                            placeholder="Introduzca la Cedula del cliente" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button  class="btn btn-primary" type="button"
                                id="button-addon2">Buscar</button>
                        </div>
                    </div>
                    <ng-container>
                        <div class="alert alert-danger mt-3" role="alert">
                            <strong></strong>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="table-responsive">
                            <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <app-table>
                                    <ng-container data>
                                        <tr>
                                            
                                        </tr>
                                    </ng-container>
                                </app-table>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                    <form>
                        <div class="card-header">
                            <h4>Datos del Pago</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Monto a Pagar</label>
                                        <input 
                                        type="number" 
                                        placeholder="Monto a Pagar" 
                                        class="form-control" 
                                        >
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="card-footer text-right">
                            <button type="button"  class="btn btn-danger mr-2">Cancelar</button>
                            <button type="button" class="btn btn-primary">Pagar</button>
                        </div>
                    </form>
            </div>
        </div>

    </div>
</div>